* {
  margin: 0;
  padding: 0:
}

table {
  margin: auto;
}

img {
  width: 150px;
  height: 150px;
  border: 1px solid;
}

td p  {
  width: 150px;
  height: 150px;
  border: 1px solid;
  font-size: 150px;
  text-align: center;
}

.score {
  position: absolute;
  width: 200px;
  height: 400px;
  margin-left: 50px;
  text-align: center;
}

h2 {
  font-size: 200px;
  height: 200px;
}

button {
  margin-top: 5px;
  font-size: 40px;
}

ul {
  list-style: none;
}

li {
  text-align: left;
  font-size: 25
}
